@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lilita+One&display=swap');
@import "tailwindcss";

:root {
  /* color palette */
  --primary: #55A799;
  --secondary: #F78787;
  --accent: #FDDBDB;
  --disabled: #EDEDED;
  --neutral: #424242;

  /* font size */
  --heading-1: 2rem;
  --heading-2: 1.75rem;
  --heading-3: 1.25rem;
  --paragraph-1: 1.125rem;
  --paragraph-2: 1rem;
  --caption: 0.75rem;
  --small: 0.5rem;
}

html {
  @apply scroll-smooth p-0;
}

.screen {
  @apply relative w-full h-screen bg-cover bg-center flex justify-center items-center;
}

.heading {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paragraph {
  font-family: "Karla", sans-serif;
  font-style: normal;
}

.h1 {
  font-size: var(--heading-1);
}

.h2 {
  font-size: var(--heading-2);
}

.h3 {
  font-size: var(--heading-3);
}

.p2 {
  font-size: var(--paragraph-1);
}

.p2 {
  font-size: var(--paragraph-2);
}

.c {
  font-size: var(--caption);
}

.s {
  font-size: var(--small);
}